body{
	background-color: black;
	color: #FFFFFF;
	margin: 10px;
}

footer{
	padding-top: 40px;
	padding-bottom: 75px;
	background-color: #181818;	
}

header{
	text-align: center;
}

main{
	 margin-left: 100px;
	 margin-right:100px;
	 margin-top: 120px;
	 margin-bottom: 50px;
}
img{
	max-width: 100%;
}
h1,h2,h3{
	font-family: 'Joti One', cursive;
	font-style: normal;
	text-transform: uppercase;
}


h1{
	font-weight: 400;
	font-size: 50px;
}

h2{
	margin-top: 50px;
	font-weight: 400;
	font-size: 36px;
}

h3{
	font-weight: 400;
	font-size: 24px;
}

p,ul{	
	font-family: 'Biryani', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}

a{
	color: #FFFFFF;
}
a:hover{
	color: #FFD876;	
}

.roundedbox{
	 margin-left: 0px;
	 margin-right:0px;
	 margin-top:30px;
	 margin-bottom:20px;
	 padding: 20px;
	 background-color: #343434;
	 border-radius: 30px;
}

.mainRunner {
	position:relative;
}

.backimg{
	z-index: 1;
}

.frontimg{
	z-index: 2;
}

.center{
	text-align: center;
}
